<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/skeleton.css" type="text/css" media="screen" /> 
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.css" type="text/css" media="screen" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
    <script src="js/player.js"></script>
    <script src="js/game.js"></script>
    <script src="js/domMaster.js"></script>
    <script src="js/script.js"></script>
    <script src="js/ultimate.js"></script>
  </head>

  <body>
    <div class="container">
      
      <header>
	<h1></h1>
      </header>

      
      <div id="game-chooser">
	<div class="row">
	  <input type="button" name="tic-tac-toe" value="Tic-Tac-Toe" class="one-third column"/>
	  <input type="button" name="tic-tac-toe4" value="Tic-Tac-Toe (4 x 4)" class="one-third column" />
	  <input type="button" name="tic-tac-toe5" value="Tic-Tac-Toe (5 x 5)" class="one-third column"/>
	</div>
	<div class="row">
	  <input type="button" name="gomoku" value="Gomoku" class="one-third column" />
	  <input type="button" name="connect6" value="Connect6" class="one-third column"/>
	  <input type="button" name="" value="Custom" class="one-third column"/>
	</div>
	<input type="button" name="inception" value="Inception" class="one-third column"/>
	
      </div>


      
      <div id="game-container">
      </div>

      <div id="messages">
      </div>

      <div id="player-stats">
<!---	<div class="row">
	  <div class="player-info one-third column left" id="player0">
	    <h4>Player 1</h4>
	    <input type="text" name="0-name" placeholder="Please Enter Name" />
	    <input type="button" name="0-submit" value="Submit" />
	  </div>

	  <div class="one-third column" id="stats">
	    <h5><span id="player0-score">0</span> Score <span id="player1-score">0</span></h5>
	  </div>
	  
	  <div class="player-info one-third column right" id="player1">
	    <h4>Player 2</h4>
	    <input type="text" name="1-name" placeholder="Please Enter Name" />
	    <input type="button" name="1-submit" value="Submit" />
	  </div>
	</div>
      </div> --->
    </div>
    
  </body>
</html>
